*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 1200px;
    margin: auto;
}
header {
    height: 500px;
    background-color: #0d325a;
}

.header-top {
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.logo-container {
    width: 15%;
    float: left;
}

.main-menu {
    width: 55%;
    float: left;
}

.right-container {
    width: 30%;
    float: left;
}

.fluentify {
    padding-top: 24px;
}

.header-bottom {
    background-image: url('images/men.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;
}

#higher-menu {
    list-style-type: none;
}

#higher-menu li {
    display: inline-block;
    margin: 0 10px;
    line-height: 100px;
}
#higher-menu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.right-container a {
    line-height: 100px;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    color: white;
}

#tutor {
    opacity: 1;
    color: rgba(255,255,255,.5);
}
.btn {
    padding: 10px;
    border: 1px solid #4e8cb6;
    border-radius: 5px;
}

.btn-primary {
    background-color: green;
    color:white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
}

.jumbo-container {
    height: 400px;
    position: relative;
}

.jumbo {
    position:absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 35px;
}

.blocco-grigio {
    height: 150px;
    width: 1200px;
    background-color: #f9f9f9;
}

h4,p {
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 300;
    padding-top: 50px;
}

.blocco-grigio p {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: #999;
    padding-top: 10px;
}

/* img {
    text-align: center;
} */

#profile {
    width: 35%;
    margin: 10% 25%;
}

#doc {
    width: 40%;
    margin: 10% 25%;

}

#computer {
    width: 55%;
    margin: 10% 25%;
}

.block-row li {
    list-style-type: none;
    float: left;
    width: 400px;
}

.immagine p {
    color: green;
    font-size: 26px;
}

#scritta2 {
    margin-top: 14px;
}

#scritta3 {
    margin-top: 7px;
}

li hr:nth-child(3) {
    margin-left: 45%;
    width: 35px;
    margin-top: 30px;
    border-top: 2px solid;
    opacity: 0.3;
}

#centrale {
    margin-top: 59px;
}

 li p:last-child{
    text-align: center;
    color: #999;
    line-height: 25px;
    font-size: 15px;
    font-weight: 300;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}

#seconda-sezione {
    height: 500px;
    width: 100%;
    float: left;
    margin-top: 50px;
}

.vuoto {
    height: 400px;
    width: 10%;
    float: left;
}

.grafico {
    height: 400px;
    width: 40%;
    float: left;
    margin-top: 80px;
    text-align: center;
    padding-right: 5%;
}

.terzo-blocco {
    height: 400px;
    width: 50%;
    float: left;
    padding-left: 107px;
    padding-right: 60px;
    padding-top: 165px;
    font-family: 'Montserrat', sans-serif;
}

.terzo-blocco strong:first-child {
    color: #4a4a4a;
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    text-align: left;
}

.terzo-blocco p:nth-child(2) {
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
    line-height: 25px;
    color: #999;
    text-align: left;
}

.terzo-blocco a:last-child {
    color: #98c8f8;
    text-decoration: underline;
    text-align: left;
    font-weight: bold;
}

#test {
    margin-top: 20px;
}
